@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 250%;
  background-color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

p {
  position: absolute;
  bottom: 10px; /* Adjust spacing as needed */
  margin-top: 20px; /* Adjust as needed to control spacing */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.container {
  text-align: center;
  padding: 2%;
  background: #ffffff;
  color: #5e5e5e;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 1000;
}

.currentStatus {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #5e5e5e;
  color: #ffffff;
  border-radius: 30px;
}

h2 {
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
  font-weight: normal;
}

span {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #eeeeee;
  }
  .container {
    background-color: #5e5e5e;
    color: #eeeeee;
  }
  .currentStatus {
    background-color: #d5d5d5;
    color: #5e5e5e;
  }
}

/* @media (display-mode: standalone) {
  body {
    margin-top: -50px;
  }
} */

@supports (-webkit-touch-callout: none) {
  /* This is for iOS Safari to render the webpage correctly */
  body {
    min-height: -webkit-fill-available;
  }
}